<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<h1>Look up a user on github!</h1>
<form action="/query" method="GET">
  <label>username:</label>
  <input name="username" type="text" />
  <input type="submit" value="Go!" />
</form>
